<div>
  <app-title></app-title>
  <app-objective></app-objective>
  <app-key-result></app-key-result>
  <app-add-key-result-button></app-add-key-result-button>
  <app-save-button></app-save-button>
</div>
<router-outlet></router-outlet>
